# Plaform
DOMAIN_NAME="platform.localhost"
PLATFORM_DATABASE_NAME="platform"
PLATFORM_SCHEMA_NAME="platform"

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=${PLATFORM_DATABASE_NAME}
POSTGRES_PORT=5432

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_HEALTH_ENABLED="true"
KC_HTTP_PORT_PUBLIC=8085
KC_HTTP_MANAGEMENT_PORT_PUBLIC=9000

# Keycloak Database configuration
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_PORT=${POSTGRES_PORT}
KC_DB_SCHEMA=keycloak
KC_DB_URL_DATABASE=${POSTGRES_DB}
KC_DB_USERNAME=${POSTGRES_USER}
KC_DB_PASSWORD=${POSTGRES_PASSWORD}

# Traefik
TRAEFIK_API_INSECURE="true"
TRAEFIK_PROVIDERS_DOCKER="true"
TRAEFIK_LOG_LEVEL="INFO"
TRAEFIK_ENTRYPOINTS_web_ADDRESS=":80"
TRAEFIK_PORT=8080
