POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=platform

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin
KC_HEALTH_ENABLED="true"

# Keycloak Database configuration
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_PORT=5432
KC_DB_SCHEMA=keycloak
KC_DB_URL_DATABASE=platform
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=password
